
@{
	ViewBag.Title = "Index";
}

<h2>Welcome</h2>

<div class="SurfsUp">
	<p>
		Take 1: Buttons
	</p>
	<p>
		One of the most obvious applications of these properties is to simplify button design.
		Todays buttons are typically created in a particular pattern. The button usually has rounded corners.
		Light comes from the top, and shadow appears below the button. Often there is a glass shine effect on the button itself.
		The text is often white (or another light colour) with a dark drop shadow, or vice-versa, to give an embossed or raised effect.
		Let’s now go through some examples of what is possible, starting with a step-by-step button construction.
	</p>
</div>

<button type="button" id="btnTest" class="buttonTest">Test</button>

<div class="GhostedGrey">
	<p>
		Take 1: Buttons
	</p>
	<p>
		One of the most obvious applications of these properties is to simplify button design.
		Todays buttons are typically created in a particular pattern. The button usually has rounded corners.
		Light comes from the top, and shadow appears below the button. Often there is a glass shine effect on the button itself.
		The text is often white (or another light colour) with a dark drop shadow, or vice-versa, to give an embossed or raised effect.
		Let’s now go through some examples of what is possible, starting with a step-by-step button construction.
	</p>
</div>